{% extends "mainApp/wrapper.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">User page</h1>
        <p>
        <a href="/" class="btn btn-success btn-lg mt-5">Главная страница</a>
        <a href="/connecting" class="btn btn-primary btn-lg mt-5">Присоединиться к собранию</a>
        <a href="/userinstruction" class="btn btn-primary btn-lg mt-5">Инструкция для сдающего</a>
        </p>
    </div>
</div>

{% include "mainApp/includes/some_html.html" %}
{% endblock %}